body {
    background-image: url('background.jpg');
    background-size: cover;
    color: black;
    font-size: 100%;
}

a::before {
    color: blue;
}
a::after {
    color:blueviolet
}
a:hover {
    color: black;
}